* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
}

#heading {
  font-size: 48px;
  color: goldenrod;
  text-align: center;
  padding-top: 5rem;
}

#form {
  color: lightgray;
  text-align: center;
  padding: 5rem;
  padding-top: 0.5rem;
}

#input {
  margin-top: 1rem;
  padding-left: 1rem;
  height: 30px;
  font-size: 16px;
  vertical-align: bottom;
}

#submit {
  padding: 0px 0.5rem;
  background: skyblue;
  height: 30px;
  vertical-align: bottom;
  border-radius: 3px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-top: 5rem;
  padding: 0 12rem;
}

#output {
  color: skyblue;
  list-style-type: none;
  font-size: 24px;
}
