* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
}

#heading {
  font-size: 48px;
  color: goldenrod;
  text-align: center;
  padding-top: 2rem;
}

#container {
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#form {
  color: lightgray;
  text-align: center;
  padding: 5rem;
  padding-top: 1rem;
}

#input {
  margin-top: 1rem;
  padding-left: 1rem;
  height: 30px;
  font-size: 16px;
  vertical-align: bottom;
}

#submit {
  padding: 0px 0.5rem;
  background: skyblue;
  height: 30px;
  vertical-align: bottom;
}

#output {
  color: skyblue;
  list-style-type: none;
  font-size: 24px;
}
