* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #181818;
  color: lightgray;
}

#heading {
  text-align: center;
  padding-top: 2rem;
}

#container {
  padding-top: 2rem;
  padding-left: 5rem;
}

#form {
  padding-top: 5rem;
  padding-left: 5rem;
}

#output {
  padding-top: 2rem;
  list-style-type: none;
}
