* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
}

#heading {
  font-size: 48px;
  color: goldenrod;
  text-align: center;
  padding-top: 5rem;
}

#form {
  color: lightgray;
  text-align: center;
  padding: 5rem;
  padding-top: 0.5rem;
}

#input {
  margin-top: 1rem;
  padding-left: 1rem;
  height: 30px;
  font-size: 16px;
  vertical-align: bottom;
}

#submit {
  padding: 0px 0.5rem;
  background: skyblue;
  height: 30px;
  vertical-align: bottom;
  border-radius: 3px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-top: 5rem;
  padding: 0 12rem;
}

#output {
  color: skyblue;
  list-style-type: none;
  font-size: 24px;
}

@media screen and (max-width: 1300px) {
  #container {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 1000px) {
  #container {
    grid-template-columns: 1fr;
  }

  #output {
    margin-top: 3rem;
    text-align: start;
  }
}

@media screen and (max-width: 1000px) {

  #container {
    margin-top: 0;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 600px) {
  #heading {
    font-size: 33px;
  }

  #input {
    width: 200px;
  }

  #container {
    padding: 0;
  }

  #pic-div {
    display: grid;
    place-items: center;
  }

  #monster-pic {
    max-width: 75%;
  }
}
